@font-face {
  font-family: 'KrusyidaScript';
  src: url('KrusyidaScript-w1xOx.ttf');
}

header
{
  color: #7a1812;
  background-color: #fce8e6;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  text-align: center;
  font-family: 'KrusyidaScript';

}

body{
    margin: 0;
    padding:0;
    background-size: 750px, auto;
    background-color: white;
    overflow-x: hidden;
    text-align: center;

}

main{

    text-align: center;
}

h1{
    text-align: center;
}

.navbar ul{
    list-style: none;
    background-color: hsl(0,0%,30%);
    padding: 0px;
    margin: 0px;
    text-align: center;

}

.navbar a{

    color: #f9e8a8;
    text-decoration:none;
    padding: 15px;
    display: block;
    text-align: center;
    box-shadow: 0 2px 5px rgba(249, 228, 165, 0.3);
}

.navbar a:hover{
   background-color: #7a1812;
}

.navbar li{
    display: inline-block;
}



video.bg-left{
  position: fixed;
  top: 0;
  left:0;
  height: 100vh;
  width:25vw;
  width:100%;
  opacity: 0.7
  object-fit: cover;
  z-index: -1;
  margin: 0;
  padding: 0;
}

video.bg-right {
  position: fixed;
  top: 0;
  right:0;
  height: 100vh;
  width:25vw;
  width:100%;
  opacity: 0.7
  object-fit: cover;
  z-index: -1;
  margin: 0;
  padding: 0;
}

.box {
  background-color: #f9e8a8;
  border: 2px solid #7a1812;
  padding-top: 30px;
  padding-right: 40px;
  padding-bottom: 30px;
  padding-left: 40px;

  width:100%;
  max-width: 100px
  box-shadow: 0 6px 15px rgba(122, 24, 18, 0.25);
  font-family: 'KrusyidaScript';
  color: #3a1e1e;
  text-align: center;
}

.box h1 {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 15px;
  margin-left: 0px;
  color: #7a1812;
}

.box h2 {
  color: #4a2c2c;
}
