@font-face {
  font-family: 'KrusyidaScript';
  src: url('KrusyidaScript-w1xOx.ttf');
}

header
{
  background-color: white;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  text-align: center;
  font-family: 'KrusyidaScript';

}

body{
    margin: 0;
    padding:0;
    background-size: 700px, auto;
    background-color: white;

}
h1{
    text-align: center;
}

.navbar ul{
    list-style: none;
    background-color: hsl(0,0%,30%);
    padding: 0px;
    margin: 0px;
    text-align: center;

}

.navbar a{

    color: white;
    text-decoration:none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
   background-color: hsl(0,0%,15%);
}

.navbar li{
    display: inline-block;

}


video:nth-of-type(1) {
  left: 0;
}


video:nth-of-type(2) {
  right: 0;
}