@font-face {
  font-family: 'KrusyidaScript';
  src: url('KrusyidaScript-w1xOx.ttf');
}

header
{
  color: #7a1812;
  background-color: #fce8e6;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  text-align: center;
  font-family: 'KrusyidaScript';

}

body{
    margin: 0;
    padding:0;
    background-size: 750px, auto;
    background-color: white;
    overflow-x: hidden;
    text-align: center;

}

main{

    text-align: center;
}

h1{
    text-align: center;
}

.navbar ul{
    list-style: none;
    background-color: hsl(0,0%,30%);
    padding: 0px;
    margin: 0px;
    text-align: center;

}

.navbar a{

    color: #f9e8a8;
    text-decoration:none;
    padding: 15px;
    display: block;
    text-align: center;
    box-shadow: 0 2px 5px rgba(249, 228, 165, 0.3);
}

.navbar a:hover{
   background-color: #7a1812;
}

.navbar li{
    display: inline-block;
}



video.bg-left{
  top: 0;
  left:0;
  position: fixed;
  object-fit: cover;
  z-index: -1;
}

video.bg-right {
  top: 0;
  right:0;
  position: fixed;
  object-fit: cover;
  z-index: -1;
}
